{% extends "base.html" %}

{% block head_extend %}
    <title>Home | {{ config.title }}</title>
{% endblock head_extend %}

{% block content %}
<div class="h-screen lg:h-auto lg:w-screen flex flex-col lg:flex-row space-y-16 
            lg:space-y-0 items-center lg:items-start lg:text-left dark">
    <img
        src="{{ config.extra.homepage_img_url }}"
        class="object-cover h-1/2 w-full lg:h-screen lg:w-1/2"/>
    <div class="lg:h-screen lg:w-1/2 flex items-center">
        <div class="mx-16 flex flex-col space-y-16 lg:space-y-4">
            <h1 class="font-serif text-8xl lg:text-6xl text-zinc-900 dark:text-zinc-300">
                Richard Laughlin
            </h1>
            <p class="font-sans text-5xl lg:text-xl text-zinc-600 dark:text-zinc-500">
                Research Software Engineer
            </p>
            {% block homepage_content_extend %}
            <div class="mt-4 text-5xl lg:text-xl">
                <a class="font-sans
                    dark:text-zinc-500 dark:hover:text-zinc-400 transition"
                    href="/about">
                    <i class="las la-arrow-right"></i> About 
                </a>
            </div>    
            <div class="mt-4 text-5xl lg:text-xl">
                    <a class="font-sans
                        dark:text-zinc-500 dark:hover:text-zinc-400 transition"
                        href="/blog">
                        <i class="las la-arrow-right"></i> Blog 
                    </a>
                </div>
                {% block social %}
                    {% if config.extra.social %}            
                        <div class="mt-4 text-8xl lg:text-4xl flex gap-2">
                            {% for i in config.extra.social %}
                                <div class="text-zinc-500 hover:text-zinc-700 transition">
                                <a href="{{ i.url }}" target="_blank">
                                    <i class="{{ i.icon }}"></i>
                                </a>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endblock social %}
            {% endblock homepage_content_extend %}
        </div>
    </div>
</div>
{% endblock content %}
