{% macro header(components, is_page) %}
<div class="top-0 bg-zinc-100 dark:bg-amber-900">
    <div class="container mx-auto flex flex-col
        py-16 lg:py-8 font-sans text-zinc-900 text-6xl lg:text-4xl gap-4
        dark:text-zinc-300 ">
        <a href="/" class="hover:underline">
            <h1>Richard Laughlin's Blog</h1>
        </a>
        <div class="font-sans text-4xl lg:text-xl text-zinc-900
        dark:text-zinc-300">
        {% if components | length != 1 %}
            {% set_global rel_url = "/" %}
            {% for component in components %}
            {% set_global rel_url = rel_url ~ component ~ '/' %}
            {% if loop.first %}
            <a class="m-0 p-0 text-zinc-900 hover:text-zinc-700
                            dark:text-zinc-300 dark:hover:text-zinc-200" href="{{ rel_url }}">
                <i class="las la-home"></i>
            </a>&nbsp;/&nbsp;
            {% elif loop.last %}
            {% elif is_page %}
            <a class="m-0 p-0 text-zinc-900 hover:text-zinc-700
                            dark:text-zinc-300 dark:hover:text-zinc-200 underline" href="{{ rel_url }}">
                {{ component }}
            </a>&nbsp;/&nbsp;
            {% endif %}
            {% endfor %}
        {% else %}
            <p>{{config.extra.blog_intro}}</p>
        {% endif %}
        </div>
        
    </div>
</div>

{% endmacro head %}
